In [4]:
print("Hello")

Hello

In [5]:
#program that uses all these operators
a=int(input("Enter the first value"))
b=int(input("Enter the second value"))
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a//b)
print(a/b)

Enter the first value 56
Enter the second value 6

62
50
336
2
9
9.333333333333334

In [6]:
num1=float(input("Enter the first value:"))
num2=float(input("Enter the second value:"))
print("\nresults:")
print("Addition:",num1+num2)
print("substraction:",num1-num2)
print("multiplication:",num1*num2)
print("division:",num1/num2)
print("floor division:",num1//num2)

Enter the first value: 456
Enter the second value: 65

results:
Addition: 521.0
substraction: 391.0
multiplication: 29640.0
division: 7.015384615384615
floor division: 7.0

In [9]:
#logical operator
a=True
b=False
print("a=",a)
print("b=",b)
#AND OPERATOR
print("a and b:",a and b)
#OR OPERATOR
print("a or b:",a or b)
#NOT OPERATOR
print("not a:",not b)
print("not b:",not a)

a= True
b= False
a and b: False
a or b: True
not a: True
not b: False

In [2]:
#program to find given value is positive or negative
a=int(input("Enter the value of a:"))
if a<10:
    print("a is less than 10")
elif a==10:
    print("a is equal to 10")
else:
    print("a is greater than 10")

Enter the value of a: 8

a is less than 10

In [7]:
a=int(input("Enter the value of a:"))
if a<=10:
        print("a is less than 10")
else:
        print("a is less than 10")

Enter the value of a: 12

a is less than 10

In [14]:
a=int(input("Enter the value of a:"))
if a>10:
      print("a is positive")
elif a==0:
      print("a is zero")
else:
      print("a is negative")

Enter the value of a: 0

a is zero

In [15]:
#python program to find values are even or odd
num1=int(input("Enter the number:"))
if num1>0:
    print(num1,"+ve")
elif num1<0:
    print(num1,"-ve")
else:
    print("num is zero:")

Enter the number: 2

2 +ve

In [16]:
a=int(input("Enter the value of a:"))
if a==10:
    print("a is even number")
else:
    print("a is odd number")

Enter the value of a: 2

a is odd number

In [19]:
n=int(input("Enter the value of num:"))
if n==0:
    print("num is zero")
elif n%2==0:
    print("given num is even")
else:
    print("given num is odd")

Enter the value of num: 7

given num is odd

In [21]:
balance=10000
withdraw_amount=int(input("Enter amount to withdraw:"))
if withdraw_amount<=0:
    print("invalid amount")
elif withdraw_amount>balance:
    print("Insufficient balance")
else:
    balance=balance-withdraw_amount
    print("Please collect your cash")
    print("Remaining balance:",balance)

Enter amount to withdraw: 20000

Insufficient balance

In [24]:
#for variable
for a in range(1,6):
  print("Hello--->",a)

Hello---> 1
Hello---> 2
Hello---> 3
Hello---> 4
Hello---> 5

In [29]:
fruits=["Apple","Orange","Mango","Banana"]
for i in fruits:
    print(i)

Apple
Orange
Mango
Banana

In [39]:
students=["shweta","sushh","sou","sakii"]
for name in students:
    print("present",student)

present ['shweta', 'sushh', 'sou', 'sakii']
present ['shweta', 'sushh', 'sou', 'sakii']
present ['shweta', 'sushh', 'sou', 'sakii']
present ['shweta', 'sushh', 'sou', 'sakii']

In [32]:
tasks=["wake up","exercise","study","sleep"]
for task in tasks:
    print("don't forget to:",task)

don't forget to: wake up
don't forget to: exercise
don't forget to: study
don't forget to: sleep

In [38]:
items=["milks","bread","rice","eggs"]

for item in items:
    print("for good health:",item)

for good health: milks
for good health: bread
for good health: rice
for good health: eggs

In [41]:
#write a python program to print multiplication table
num= int(input("Enter the number:"))
for i in range(1,11):
  print(num,"*",i,"=",num*i)

Enter the number: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [42]:
#while loop
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [53]:
#example for break statement
correct_password="12345"

while True:
     password=input("Enter password:")

     if password == correct_password:
         print("Access granted")
         break
     else:
         print("Wrong password,try again")

Enter password: 12

Wrong password,try again

Enter password: 12345

Access granted

In [54]:
#example for continue
students=["ravi","amit","sneha","pooja","kiran"]
absent="sneha"

for name in students:
    if name ==absent:
         continue
    print(name,"is present")

ravi is present
amit is present
pooja is present
kiran is present

In [69]:
#example for squre star pattern
for i in range(2,9):
     print("* * * *")

* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

In [73]:
n=5
for i in range(1, n + 1):
    for j  in range(1, n + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [74]:
n=5
for i in range(1, n + 1):
    for j  in range(1,i):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [77]:
n=5
for i in range(1, n + 1):
    for j  in range(1,i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [8]:
#program to print fibonacci series using loop
n=int(input("Enter the number of terms:"))
a=0
b=1
print("Fibonacci series:")
for i in range(n):
    print(a,end=" ")
    temp=a+b
    a=b
    b=temp

Enter the number of terms: 10

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [15]:
#match variable
day=int(input("Enter the day"))
match day:
 case 1:
   print("Monday")
 case 2:
   print("Tuesday")
 case 3:
   print("Wednesday")
 case 4:
   print("Thrusday")
 case 5:
   print("Friday")
 case 6:
   print("Saturday")
 case 7:
   print("Sunday")
 case _:
      print("Invalid day number")

Enter the day 3

Wednesday

In [20]:
#example 2
choice = int(input("Enter your choice"))
match choice:
 case 1:
     print("You ordered Pizza")
 case 2:
     print("You ordered Coffee")
 case 3:
     print("You ordered Ice cream")
 case _:
     print("Invalid choice")

Enter your choice 1

You ordered Pizza

In [22]:
#list methods
#appends()
fruits=["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [23]:
#insert()
fruits=["apple","banana"]
fruits.insert(0,"orange")
print(fruits)

['orange', 'apple', 'banana']

In [28]:
#examples of list method
fruits=["apple","banana","cherry"]
fruits.append("mango")

fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry', 'mango']

In [35]:
#example
items=["milk","bread","eggs"]
items.append("butter") 
items.append("jam")
items.pop(1)
items.sort()
print("final shopping list:",items)

final shopping list: ['butter', 'eggs', 'jam', 'milk']

In [1]:
marks=(10,20,30,40)
print(len(marks))
print(min(marks))
print(max(marks))
print(sum(marks))
print(20 in marks)
print(marks[1:3])

4
10
40
100
True
(20, 30)

In [1]:
#tuple examples
Demo=(10,20,30,[11,22,33],40,50)
Demo[3][2]=100
print(Demo)

(10, 20, 30, [11, 22, 100], 40, 50)

In [2]:
fruits={"apple","banana","cherry"}
fruits.add("mango")
fruits.add("apple")
print(fruits)

{'apple', 'cherry', 'banana', 'mango'}

In [9]:
#sets examples
#update
fruits={"apple","cherry","banana"}
fruits.update(["cherry","grape"])
print(fruits)

#remove
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

#union
a={1,2,3}
b={3,4,5}
print(a.union(b))

#intersection
a={1,2,3}
b={2,3,4}
print(a.intersection(b))

#difference
a={1,2,3}
b={2,3,4}
print(a.difference(b))

{'apple', 'cherry', 'banana', 'grape'}
{'apple', 'cherry'}
{1, 2, 3, 4, 5}
{2, 3}
{1}

In [16]:
python_classes={"ravi","anita","kiran","rahul"}
java_classes={"kiran","rahul","sneha","meena"}
#union set
print(python_classes.intersection(java_classes))
#set difference
print(python_classes.difference(java_classes))
print(java_classes.difference(python_classes))
#set union
print(python_classes.union(java_classes))

{'kiran', 'rahul'}
{'anita', 'ravi'}
{'meena', 'sneha'}
{'ravi', 'sneha', 'meena', 'anita', 'kiran', 'rahul'}

In [21]:
my_list={"milk","bread","eggs","butter"}
friend_list={"bread","butter","jam","cheese"}
#intersection set
print(my_list.intersection(friend_list))
#set difference
print(my_list.difference(friend_list))
print(friend_list.difference(my_list))
# set union
print(my_list.union(friend_list))

{'bread', 'butter'}
{'eggs', 'milk'}
{'cheese', 'jam'}
{'butter', 'eggs', 'milk', 'cheese', 'bread', 'jam'}

In [24]:
#dictionary
#clear()
student={"name":"john","age":20,"country":"USA"}
student.clear()
print(student)

#copy()
student={"name":"arvind","age":20}
new_student=student.copy()
print(new_student)

#get method
student={"name":"ravi","age":20}
print(student.get("age"))
print(student.get("course","xyz"))

#items()
student={"name":"ravi","age":20}
print(student.items())

#keys()
student={"name":"ravi","age":20}
print(student.keys())

{}
{'name': 'arvind', 'age': 20}
20
xyz
dict_items([('name', 'ravi'), ('age', 20)])
dict_keys(['name', 'age'])

In [25]:
marks={"maths":90,"science":85,"english":88}

#print items
print("subjects with marks:",marks.items())

#remove last inserted
marks.popitem()

print("after popitem:",marks)

subjects with marks: dict_items([('maths', 90), ('science', 85), ('english', 88)])
after popitem: {'maths': 90, 'science': 85}

In [26]:
 #shopping cart dictonary
cart={"pen":10,"book":120,"pencil":5,"bag":450}

#get the price of a product
product="book"
print("price of",product,"is:",cart.get(product,"not found"))

#add a new product using set default()
cart.setdefault("eraser",15)

#remove the last inserted product
removed_item=cart.popitem()
print("removed:",removed_item)

#show all items
print("available products:")
for i,p in cart.items():
    print(i,":",p)

price of book is: 120
removed: ('eraser', 15)
available products:
pen : 10
book : 120
pencil : 5
bag : 450

In [27]:
#examples for functions
print("hello")
def greet():
    print("hello,welcome to python!")

print("bye")
greet()

hello
bye
hello,welcome to python!

In [28]:
print("hello")
def arth():
    a=100
    b=200
    c=a+b
    print(c)
print("bye")
arth()

hello
bye
300

In [33]:
#example for function with parameter
def arth(a,b):
    c=a+b
    print(c)

arth("sakshi ","souu")

sakshi souu

In [36]:
#example for funtion with parameter with return type
def arth(a,b):
    return a+b

res=arth("sou","sakii")
print(res)

sousakii

In [37]:
#function with return type
def add(a,b):
    return a+b

a=int(input("enter the value of  a:"))
b=int(input("enter the value of b:"))
result=add(a,b)
print("sum:",result)

enter the value of  a: 182
enter the value of b: 35

sum: 217

In [41]:
#program to do arithmetic operations using functions
def arth(a,b):
 c=a+b
 i=a-b
 x=a*b
 d=a/b
 print("addition:",c)
 print("substraction:",i)
 print("multiplication:",x)
 print("division:",d)
arth(10,20)

addition: 30
substraction: -10
multiplication: 200
division: 0.5

In [42]:
#FUNCTION FOR ADDITION
def add(a,b):
    return a+b

#FUNCTION FOR SUBSTRACT    
def substract(a,b):
    return a-b

#FUNCTION FOR MULTIPLY    
def multiply(a,b):
    return a*b

#FUNCTION FOR DIVISION
def division(a,b):
    if b!=0:
       return a/b
    else:
        return "cannot divide by zero"

        
#EXAMPLE USAGE
print("add:",add(10,5))
print("substract:",substract(10,5))
print("multiply:",multiply(10,5))
print("division:",division(10,0))

add: 15
substract: 5
multiply: 50
division: cannot divide by zero

In [46]:
#EXAMPLE:BILLING SYSTEM IN A SHOP
def calculate_bill(price,quantity):
    total=price*quantity
    return  total

#REAL-TIME USAGE
item1=calculate_bill(50,3)
item2=calculate_bill(20,5)

print("item 1 bill:",item1)
print("item 2 bill:",item2)

item 1 bill: 150
item 2 bill: 100

In [56]:
def check_even_odd(n):
 if n%2==0:
    return("n is even:")
 else:
    return("n is odd:")
n=int(input("enter the value of n:"))
print(check_even_odd(n))

enter the value of n: 3

n is odd:

In [57]:
import time

current_time=time.time()
print("Current Time:",current_time)

Current Time: 1770482747.2434297

In [59]:
#modules example
#ctime key function
import time

current_time=time.ctime()
print("Current Time:",current_time)

Current Time: Sat Feb  7 22:18:14 2026

In [62]:
#sleep key function
import time

print("hello")
time.sleep(7)
print("welcome after 7 seconds!")

hello
welcome after 7 seconds!

In [63]:
import time

current_time=time.localtime()

print("full date & time:",time.strftime("%Y-%M-%D-%H:%M:%S",current_time))
print("only date:",time.strftime("%d/%m/%Y",current_time))
print("only time:",time.strftime("%I:%M %p",current_time))
print("day name:",time.strftime("%A",current_time))

full date & time: 2026-34-02/07/26-22:34:41
only date: 07/02/2026
only time: 10:34 PM
day name: Saturday

In [4]:
import random
print(random.random())

0.507707098312098

In [15]:
import random
print(random.randint(1,7))

7

In [20]:
#REAL TIME EXAMPLE
import random

print("rolling the dice...")
dice=random.randint(1,6)
print("you got:",dice)

rolling the dice...
you got: 6

In [25]:
import random
fruits=["apple","banana","cherry","mango"]
print(random.choice(fruits))

cherry

In [27]:
import random

participants=["rahul","sneha","arjun","pooja","kiran"]

#SHUFFLE THE LIST
random.shuffle(participants)

#FIRST PERSON BECOMES THE WINNER
winner=participants[0]

print("participants:",participants)
print("lucky draw winner is:",winner)

participants: ['sneha', 'kiran', 'rahul', 'pooja', 'arjun']
lucky draw winner is: sneha

In [ ]:
#EXAMPLE OF MATH FUNCTION
import math

x=200

print(math.sqrt(x))
print(math.sin(x))
print(math.cos(x))
print(math.tan(x))

In [32]:
#EXAMPLE OF MATH FUNCTION
import math

x=20
y=10

print("square root of x is:",math.sqrt(x))
print("sin of x is:",math.sin(x))
print("cos of x is:",math.cos(x))
print("tan of x is:",math.tan(x))
print("power of x is:",math.pow(x,y))
print("log of x is:",math.log(x))
print("log of x is:",math.log10(x))
print("exponetial of x is:",math.exp(x))
print("ceil of x is:",math.ceil(x))
print("floor of x is:",math.floor(x))

square root of x is: 4.47213595499958
sin of x is: 0.9129452507276277
cos of x is: 0.40808206181339196
tan of x is: 2.237160944224742
power of x is: 10240000000000.0
log of x is: 2.995732273553991
log of x is: 1.3010299956639813
exponetial of x is: 485165195.4097903
ceil of x is: 20
floor of x is: 20

In [33]:
num=7.6986

rounded_num=round(num,3)

print("original number:",num)
print("rounded number:",rounded_num)

original number: 7.6986
rounded number: 7.699

In [43]:
import calendar
print(calendar.month(2015,8))

    August 2015
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [48]:
import calendar

year=int(input("Enter the year:"))
print(calendar.calendar(year))

Enter the year: 2003

                                  2003

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [53]:
import calendar

year=int(input("enter the year"))
month=int(input("enter the month"))
day=int(input("enter the day"))

day_number=calendar.weekday(year,month,day)
day_name=calendar.day_name[day_number]

print(day_name)

enter the year 1974
enter the month 11
enter the day 7

Thursday

In [60]:
#EXAMPLE FOR EXCEPTION HANDLING
try:
    a=int(input("enter the value"))
    b=int(input("enter the value"))
    result=a/b
    print("result:",result)
except ZeroDivisionError:
    print("Error:cannot divide by zero!")

except ValueError:
   print("Error:please enter numbers only!")

enter the value 56
enter the value U

Error:please enter numbers only!

In [62]:
import numpy as np
print(np.__version__)

2.1.3